# Assignment

In [2]:
18 + 20 # Operation

38

In [6]:
6 + 3 - 8**3 * 3 + 20 / 4 * (7 * 7)

#PEMDAS

# 6+3-8**3*3+20/4*(49)
# 6+3-8**3*3+20/4*49
# 6+3-512*3+20/4*49
# 6+3-1536+5*49
# 6+3-1536+245
# 9+245-1536
# 254-1536
#-1282

-1282.0

In [7]:
#copy types
# Shallow Copy
a = 3
b = 2

print(a)
print(b)

print(id(a))
print(id(b))

3
2
140727195705808
140727195705776

In [8]:
# Deep Copy
a = list("I Am Junaid")
b = a.copy()

print(a)
print(b)

print(id(a))
print(id(b))

['I', ' ', 'A', 'm', ' ', 'J', 'u', 'n', 'a', 'i', 'd']
['I', ' ', 'A', 'm', ' ', 'J', 'u', 'n', 'a', 'i', 'd']
2057223936584
2057223147784

In [11]:
a=20
print(a)
print (type(a))
a=20.18
print(a)
print (type(a))
a = 20 // 6 # floor Division
print(a)
print(type(a))
a=20/20
print(a)
print (type(a))
a=True
print(a)
print (type(a))
a="20"
print(a)
print (type(a))
a='20'
print(a)
print (type(a))

20
<class 'int'>
20.18
<class 'float'>
3
<class 'int'>
1.0
<class 'float'>
True
<class 'bool'>
20
<class 'str'>
20
<class 'str'>

In [12]:
#Index     0    1        2       3     4
names = ["Ali","waqas","Junaid",200, True]
#Index     -5    -4     -3      -2    -1
print (names)
print (names[-2]) #list [indexNumber]
print (names[2]) #list [indexNumber]
print(type (names))

['Ali', 'waqas', 'Junaid', 200, True]
200
Junaid
<class 'list'>

In [13]:
#Index     0    1        2       3     4
names = ("Ali","waqas","Junaid",200, True) #tuple [Element,Element]
#Index     -5    -4     -3      -2    -1
print (names)
print (names[-1]) #list [indexNumber]

print(type (names))

('Ali', 'waqas', 'Junaid', 200, True)
True
<class 'tuple'>

In [14]:
#set
names = {"Ali","waqas","Junaid","Ali"}  # set 

print (names)


print(type (names))

{'Junaid', 'Ali', 'waqas'}
<class 'set'>

In [17]:
#type casting 

names = {"Ali","waqas","Junaid","Ali"}  # set 

names = list(sorted(names))
print (names[-2])


print(type (names))

Junaid
<class 'list'>

In [21]:
#Dictionary 
#{
#Key0:value0, 
#Key1:value1
#Key2:value2
#}

#key  hashable data type
#value any data type

data = {
    "name": "Muhammad Junaid",
    "fee": "1000",
    "Edu": ['Matric,FSC,Graduation'],
    5: "Pakistan"
}
print (data[5])

Pakistan

In [31]:
#list[start:end:step]
#tuple[start:end:step]
#string[start:end:step]
#start ->Included
#end   ->Excluded
#Step  ->Sequance
a="I am Junaid"
print (a[::-1])
print (a[1:4:2])
print (a[0:9:]+a[-2:])

dianuJ ma I
 m
I am Junaid

# String Data types and Methods

In [32]:
a = "MuHaMmAd JUnAiD"
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [33]:
#capitalize
a = "MuHaMmAd JUnAiD"
print(a.capitalize())
print(a)

Muhammad junaid
MuHaMmAd JUnAiD

In [34]:
#casefold
a = "MuHaMmAd JUnAiD"
print(a.casefold())
print(a)

muhammad junaid
MuHaMmAd JUnAiD

In [37]:
#center
a = "MuHaMmAd JUnAiD"
print(a.center(1))
print(a.center(2))
print(a.center(3))
print(a)

MuHaMmAd JUnAiD
MuHaMmAd JUnAiD
MuHaMmAd JUnAiD
MuHaMmAd JUnAiD

In [41]:
#count
a = "MuHaMmAd JUnAiD"
print(a.count(a))
print(a)

1
MuHaMmAd JUnAiD

In [43]:
#encode
a = "MuHaMmAd JUnAiD"
print(a.encode())
print(a)

b'MuHaMmAd JUnAiD'
MuHaMmAd JUnAiD

In [46]:
#endswith
a = "MuHaMmAd JUnAiD"
print(a.endswith(a))
print(a)

True
MuHaMmAd JUnAiD

In [48]:
#expandtabs
a = "MuHaMmAd JUnAiD"
print(a.expandtabs())
print(a)

MuHaMmAd JUnAiD
MuHaMmAd JUnAiD

In [51]:
#find
a = "MuHaMmAd JUnAiD"
print(a.find("JUnAiD"))
print(a)

9
MuHaMmAd JUnAiD

In [52]:
#format
a = "MuHaMmAd JUnAiD"
print(a.format())
print(a)

MuHaMmAd JUnAiD
MuHaMmAd JUnAiD

In [53]:
#format_map
a = "MuHaMmAd JUnAiD"
print(a.format_map(a))
print(a)

MuHaMmAd JUnAiD
MuHaMmAd JUnAiD

In [57]:
#index
a = "MuHaMmAd JUnAiD"
print(a.index("m"))
print(a.index("i"))
print(a)

5
13
MuHaMmAd JUnAiD

In [58]:
#isalnum 
a = "MuHaMmAd JUnAiD"
print(a.isalnum())
print(a)

False
MuHaMmAd JUnAiD

In [60]:
#isalpha
a = "MuHaMmAd JUnAiD"
print(a.isalpha())
print(a)

False
MuHaMmAd JUnAiD

In [61]:
#isascii
a = "MuHaMmAd JUnAiD"
print(a.isascii())
print(a)

True
MuHaMmAd JUnAiD

In [62]:
#isdecimal
a = "MuHaMmAd JUnAiD"
print(a.isdecimal())
print(a)

False
MuHaMmAd JUnAiD

In [63]:
#isdigit
a = "MuHaMmAd JUnAiD"
print(a.isdigit())
print(a)

False
MuHaMmAd JUnAiD

In [64]:
#isidentifier
a = "MuHaMmAd JUnAiD"
print(a.isidentifier())
print(a)

False
MuHaMmAd JUnAiD

In [67]:
#islower
a = "MuHaMmAd JUnAiD"
print(a.islower())
print(a)

a = "muhammad junaid"
print(a.islower())
print(a)

False
MuHaMmAd JUnAiD
True
muhammad junaid

In [68]:
#isnumeric
a = "MuHaMmAd JUnAiD"
print(a.isnumeric())
print(a)

False
MuHaMmAd JUnAiD

In [69]:
#isprintable
a = "MuHaMmAd JUnAiD"
print(a.isprintable())
print(a)

True
MuHaMmAd JUnAiD

In [70]:
#isspace
a = "MuHaMmAd JUnAiD"
print(a.isspace())
print(a)

False
MuHaMmAd JUnAiD

In [71]:
#istitle
a = "MuHaMmAd JUnAiD"
print(a.istitle())
print(a)

False
MuHaMmAd JUnAiD

In [72]:
#isupper
a = "MuHaMmAd JUnAiD"
print(a.isupper())
print(a)

False
MuHaMmAd JUnAiD

In [100]:
#join
a = "MuHaMmAd JUnAiD"

"|".join(a)

'M|u|H|a|M|m|A|d| |J|U|n|A|i|D'

In [77]:
#ljust
a = "MuHaMmAd JUnAiD"
print(a.ljust(1))
print(a)

MuHaMmAd JUnAiD
MuHaMmAd JUnAiD

In [101]:
#lower
a = "MuHaMmAd JUnAiD"
print(a.lower())
print(a)

muhammad junaid
MuHaMmAd JUnAiD

In [79]:
#lstrip
a = "       Muhammad       Junaid     "
print(len(a))
print(a.lstrip())
print(len(a.lstrip()))
print(a)

34
Muhammad       Junaid
26
        Muhammad       Junaid

In [108]:
#maketrans
list1 = "abcdefghijklmnopqrstuvwxyz"
list2 = "zyxwvutsrqponmlkjihgfedcba"
print (str.maketrans(list1, list2))

{97: 122, 98: 121, 99: 120, 100: 119, 101: 118, 102: 117, 103: 116, 104: 115, 105: 114, 106: 113, 107: 112, 108: 111, 109: 110, 110: 109, 111: 108, 112: 107, 113: 106, 114: 105, 115: 104, 116: 103, 117: 102, 118: 101, 119: 100, 120: 99, 121: 98, 122: 97}

In [112]:
#partition
a = "MuHaMmAd | JUnAiD"
print(a.partition("|"))
print(a)

('MuHaMmAd ', '|', ' JUnAiD')
MuHaMmAd | JUnAiD

In [87]:
#replace
a = "MuHaMmAd JUnAiD"
print(a.replace("a","A"))
print(a)

MuHAMmAd JUnAiD
MuHaMmAd JUnAiD

In [88]:
#rfind
a = "MuHaMmAd JUnAiD"
print(a.rfind("d"))
print(a)

7
MuHaMmAd JUnAiD

In [89]:
#rindex
a = "MuHaMmAd JUnAiD"
print(a.rindex("J"))
print(a)

9
MuHaMmAd JUnAiD

In [91]:
#rjust
a = "MuHaMmAd JUnAiD"
print(a.rjust(1))
print(a)

MuHaMmAd JUnAiD
MuHaMmAd JUnAiD

In [85]:
#rpartition
a = "MuHaMmAd | JUnAiD"
print(a.partition("|"))
print(a)

('MuHaMmAd ', '|', ' JUnAiD')
MuHaMmAd | JUnAiD

In [80]:
#rsplit
a = "       Muhammad       Junaid     "
print(len(a))
print(a.rstrip())
print(len(a.rstrip()))
print(a)

33
       Muhammad       Junaid
28
       Muhammad       Junaid

In [81]:
#split
a = "       Muhammad       Junaid     "
print(len(a))
print(a.strip())
print(len(a.strip()))
print(a)

33
Muhammad       Junaid
21
       Muhammad       Junaid

In [115]:
#splitlines
str = "I Am Junaid"  

print(str.splitlines())

str2 = "I \n Am \n Junaid"  

print(str2.splitlines())

['I Am Junaid']
['I ', ' Am ', ' Junaid']

In [118]:
#startswith
text = "I Am Junaid"

print( text.startswith('Junaid'))

print(text.startswith('I Am '))

False
True

In [136]:
#strip
string = '   yahoo I am Junaid yahoo   '
print(string.strip(' o'))

yahoo I am Junaid yah

In [95]:
#swapcase
a = "MuHaMmAd JUnAiD"
print(a.swapcase())
print(a)

mUhAmMaD juNaId
MuHaMmAd JUnAiD

In [139]:
#title

str = "I Am Junaid";
print (str.title())

I Am Junaid

In [109]:
#translate
list1 = "abcdefghijklmnopqrstuvwxyz"
list2 = "zyxwvutsrqponmlkjihgfedcba"
encode = str.maketrans(list1, list2)
str = "i am from pakistan where are other agents"
print (str.translate(encode))

r zn uiln kzprhgzm dsviv ziv lgsvi ztvmgh

In [94]:
#upper
a = "MuHaMmAd JUnAiD"
print(a.upper())
print(a)

MUHAMMAD JUNAID
MuHaMmAd JUnAiD

In [141]:
#zfill
txt = "50"
x = txt.zfill(4)
print(x)

0050